@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: linear-gradient(to bottom right, #d0d0d0, #afafaf);
  background-size: cover;
  padding: 30px;
}
.title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
}
.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  width: 300px;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: purple;
  height: 10px;
  border-radius: 25px;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  background-color: purple;
  height: 10px;
  border-radius: 25px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid purple;
  border-radius: 50%;
  margin-top: -8px;
}
input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid purple;
  border-radius: 50%;
  margin-top: -8px;
}
.range-value {
  position: relative;
  width: calc(100% - 25px);
  margin: 0 auto;
}
.num-box {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translate(-50%);
  height: 30px;
  width: 50px;
  display: grid;
  place-items: center;
  border-radius: 5px;
  background-color: #fff;
}
.num-box::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border-style: solid;
  border-width: 5px;
  border-color: #fff transparent transparent;
}
