@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #006064;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 100px;
  width: 95%;
  max-width: 1000px;
  color: #fff;
  padding: 15px;
}
.box {
  text-align: center;
}
.icon {
  font-size: 45px;
  margin-bottom: 20px;
}
.num {
  font-size: 55px;
  font-weight: 400;
}
.platform {
  font-size: 16px;
  font-weight: normal;
}
