@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --light-color: #3f3e6d;
  --dark-color: #211f41;
  --active-color: #fe6737;
  --transition-duration: 0.3s;
}
body {
  min-height: 100vh;
  background-color: var(--light-color, #3f3e6d);
}
.header {
  background-color: var(--dark-color, #211f41);
  height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 15px;
}
.search-area {
  position: relative;
}
.search-area [type="search"] {
  width: 50px;
  padding: 10px 30px 10px 10px;
  border-radius: 30px;
  transition: var(--transition-duration, 0.3s);
}
.search-area [type="search"].active {
  width: 210px;
}
.search-area .icon {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  width: 30px;
  font-size: 18px;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 40px 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 576px) {
  .movies-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .movies-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .movies-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .movies-container {
    max-width: 1140px;
  }
}
.movie-card {
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-color, #211f41);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.movie-card::before {
  content: "click to see the trailer";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: rgba(0 0 0 / 0.6);
  padding-top: 30px;
  opacity: 0;
  transition: 0.3s;
}
.movie-card:hover::before {
  transition-delay: 0.5s;
  opacity: 1;
}
.movie-card .poster {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.movie-card .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  background-color: transparent;
  backdrop-filter: blur(30px);
  padding: 15px;
}
.movie-card .title {
  color: #fff;
  font-size: 20px;
  max-width: 250px;
}
.movie-card .rate {
  height: 30px;
  width: 40px;
  background-color: var(--light-color);
  display: grid;
  place-items: center;
  border-radius: 3px;
  color: #fff;
}
.movie-card .rate.bad {
  color: red;
  background-color: rgba(255 0 0 / 0.1);
}
.movie-card .rate.good {
  color: yellow;
  background-color: rgba(255 255 0 / 0.1);
}
.movie-card .rate.excellent {
  color: green;
  background-color: rgba(0 255 0 / 0.1);
}
.movie-card .overview {
  position: absolute;
  left: 0;
  bottom: -500px;
  width: 100%;
  color: #fff;
  background-color: var(--dark-color, #211f41);
  padding: 20px;
  transition: var(--transition-duration, 0.3s);
  z-index: 100;
}
.movie-card:hover .overview {
  bottom: 0;
}
.movie-card .overview h4 {
  font-size: 18px;
  margin-bottom: 20px;
}
.movie-card .overview .text {
  line-height: 1.6;
}
.video-section {
  position: fixed;
  inset: 0;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}
.video-section.active {
  display: flex;
}
.video-section .leyer {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0 0 0 / 0.7);
}
.video-section .video-frame {
  z-index: 1000;
}
.video-section .close-icon {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  color: #fff;
  z-index: 1000;
  cursor: pointer;
}
